USE [master]
GO
/****** Object:  Database [EShopProject]    Script Date: 1.8.2017 12:51:43 ******/
CREATE DATABASE [EShopProject]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EShopProject', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\EShopProject.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EShopProject_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\EShopProject_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EShopProject].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EShopProject]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 1.8.2017 12:51:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 1.8.2017 12:51:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Addresses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[PostAddress] [varchar](500) NOT NULL,
	[City] [varchar](30) NOT NULL,
	[Region] [varchar](30) NOT NULL,
	[PostalCode] [varchar](10) NOT NULL,
	[Country] [varchar](30) NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Addresses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AttributeGroups]    Script Date: 1.8.2017 12:51:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AttributeGroups](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.AttributeGroups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Attributes]    Script Date: 1.8.2017 12:51:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Attributes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AttributeGroupId] [int] NULL,
	[Name] [varchar](50) NOT NULL,
	[Description] [varchar](200) NOT NULL,
	[AttributeValueType] [int] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Attributes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 1.8.2017 12:51:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[Description] [varchar](1000) NOT NULL,
	[Deleted] [bit] NOT NULL,
	[ParentId] [int] NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 1.8.2017 12:51:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] NOT NULL,
	[FirstName] [varchar](30) NOT NULL,
	[LastName] [varchar](30) NOT NULL,
	[Gender] [int] NOT NULL,
	[BirthOfDate] [date] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Images]    Script Date: 1.8.2017 12:51:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Images](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[FilePath] [varchar](100) NOT NULL,
	[Ranking] [int] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Images] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 1.8.2017 12:51:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[UnitPrice] [money] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Discount] [float] NULL,
 CONSTRAINT [PK_dbo.OrderDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Orders]    Script Date: 1.8.2017 12:51:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[AddressId] [int] NOT NULL,
	[OrderDate] [date] NOT NULL,
	[DeliveryDate] [date] NULL,
	[ShippedDate] [date] NULL,
	[OrderState] [int] NOT NULL,
	[Cancellation] [bit] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Products]    Script Date: 1.8.2017 12:51:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Description] [varchar](500) NOT NULL,
	[Price] [money] NOT NULL,
	[UnitInStock] [int] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProductToAttributes]    Script Date: 1.8.2017 12:51:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ProductToAttributes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[AttributeId] [int] NOT NULL,
	[Value] [varchar](500) NOT NULL,
 CONSTRAINT [PK_dbo.ProductToAttributes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Users]    Script Date: 1.8.2017 12:51:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmailAddress] [varchar](50) NOT NULL,
	[Password] [varchar](30) NOT NULL,
	[MyAuthorization] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[LastLoginDate] [datetime] NULL,
	[Deleted] [bit] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserTOAddress]    Script Date: 1.8.2017 12:51:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTOAddress](
	[UserId] [int] NOT NULL,
	[AddressId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.UserTOAddress] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[AddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Addresses] ON 

INSERT [dbo].[Addresses] ([Id], [Name], [PostAddress], [City], [Region], [PostalCode], [Country], [Deleted]) VALUES (1, N'Ev Adresi', N'talatpaşa mah. test sok.', N'İstanbul', N'Marmara', N'34384', N'Türkiye', 0)
INSERT [dbo].[Addresses] ([Id], [Name], [PostAddress], [City], [Region], [PostalCode], [Country], [Deleted]) VALUES (2, N'asd11', N'asdasdasd', N'aaaaa', N'Marmara', N'34383', N'asd123', 0)
SET IDENTITY_INSERT [dbo].[Addresses] OFF
SET IDENTITY_INSERT [dbo].[AttributeGroups] ON 

INSERT [dbo].[AttributeGroups] ([Id], [Name], [Deleted]) VALUES (2, N'Gövde', 0)
INSERT [dbo].[AttributeGroups] ([Id], [Name], [Deleted]) VALUES (4, N'Lamba Bilgileri', 0)
INSERT [dbo].[AttributeGroups] ([Id], [Name], [Deleted]) VALUES (5, N'Lamba Bilgileri', 0)
SET IDENTITY_INSERT [dbo].[AttributeGroups] OFF
SET IDENTITY_INSERT [dbo].[Attributes] ON 

INSERT [dbo].[Attributes] ([Id], [AttributeGroupId], [Name], [Description], [AttributeValueType], [Deleted]) VALUES (1, 7, N'Yükseklik', N'Yükseklik Değeri', 0, 0)
INSERT [dbo].[Attributes] ([Id], [AttributeGroupId], [Name], [Description], [AttributeValueType], [Deleted]) VALUES (2, 7, N'Genişlik', N'Genişlik Değeri', 0, 0)
INSERT [dbo].[Attributes] ([Id], [AttributeGroupId], [Name], [Description], [AttributeValueType], [Deleted]) VALUES (3, 7, N'Derinlik', N'Derinlik Değeri', 0, 0)
SET IDENTITY_INSERT [dbo].[Attributes] OFF
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [Description], [Deleted], [ParentId]) VALUES (1, N'Koltuk Takımları', N'Koltuk Takımları kategorisi', 0, NULL)
INSERT [dbo].[Categories] ([Id], [Name], [Description], [Deleted], [ParentId]) VALUES (2, N'Berjer', N'Berjer işte berjer', 0, 1)
INSERT [dbo].[Categories] ([Id], [Name], [Description], [Deleted], [ParentId]) VALUES (3, N'Aydınlatma', N'Mekana ışık veren şeyler ', 0, NULL)
SET IDENTITY_INSERT [dbo].[Categories] OFF
INSERT [dbo].[Customers] ([Id], [FirstName], [LastName], [Gender], [BirthOfDate], [Deleted]) VALUES (1, N'Erencan', N'Cüstan', 1, CAST(N'1992-07-22' AS Date), 0)
INSERT [dbo].[Customers] ([Id], [FirstName], [LastName], [Gender], [BirthOfDate], [Deleted]) VALUES (2, N'Erencan1', N'soytest2', 0, CAST(N'2010-09-02' AS Date), 0)
SET IDENTITY_INSERT [dbo].[Images] ON 

INSERT [dbo].[Images] ([Id], [ProductId], [FilePath], [Ranking], [Deleted]) VALUES (2, 2, N'/assets/images/product-image/P278945689.jpg', 1, 0)
INSERT [dbo].[Images] ([Id], [ProductId], [FilePath], [Ranking], [Deleted]) VALUES (3, 2, N'/assets/images/product-image/P278945612.jpg', 2, 0)
INSERT [dbo].[Images] ([Id], [ProductId], [FilePath], [Ranking], [Deleted]) VALUES (4, 2, N'/assets/images/product-image/P278945125.jpg', 3, 0)
SET IDENTITY_INSERT [dbo].[Images] OFF
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ProductId], [UnitPrice], [Quantity], [Discount]) VALUES (1, 1, 2, 6750.9900, 1, 0)
INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ProductId], [UnitPrice], [Quantity], [Discount]) VALUES (2, 1, 3, 18750.0000, 1, 0)
INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ProductId], [UnitPrice], [Quantity], [Discount]) VALUES (3, 2, 5, 19.9900, 1, 0)
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [UserId], [AddressId], [OrderDate], [DeliveryDate], [ShippedDate], [OrderState], [Cancellation], [Deleted]) VALUES (1, 1, 1, CAST(N'2017-08-01' AS Date), NULL, NULL, 0, 0, 0)
INSERT [dbo].[Orders] ([Id], [UserId], [AddressId], [OrderDate], [DeliveryDate], [ShippedDate], [OrderState], [Cancellation], [Deleted]) VALUES (2, 1, 1, CAST(N'2017-08-01' AS Date), NULL, NULL, 0, 0, 0)
SET IDENTITY_INSERT [dbo].[Orders] OFF
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [CategoryId], [Name], [Description], [Price], [UnitInStock], [Deleted]) VALUES (1, 5, N'Muren', N'Düz oturma pozisyonundan uzanmaya kadar 3 farklı konuma ayarlayabilirsiniz.Sırtınızı yasladığınızda alttaki sabit tabure açılır.Yüksek arkalık, boynunuza destek sağlar.', 879.9000, 10, 0)
INSERT [dbo].[Products] ([Id], [CategoryId], [Name], [Description], [Price], [UnitInStock], [Deleted]) VALUES (2, 1, N'Kapitone Safran Kadife Kanepe', N'Kapitone dikişli, yumuşak ipeksi kadife kanepe.', 6750.9900, 15, 0)
INSERT [dbo].[Products] ([Id], [CategoryId], [Name], [Description], [Price], [UnitInStock], [Deleted]) VALUES (3, 1, N'Lounge Deri Kanepe', N'Olabildiğince geniş, derin ve rahat olması için tasarlanan büyük Lounge kanepe, 4 kişilik yapısıyla geniş mekanlara uyum sağlar.', 18750.0000, 5, 0)
SET IDENTITY_INSERT [dbo].[Products] OFF
SET IDENTITY_INSERT [dbo].[ProductToAttributes] ON 

INSERT [dbo].[ProductToAttributes] ([Id], [ProductId], [AttributeId], [Value]) VALUES (1, 3, 3, N'2')
INSERT [dbo].[ProductToAttributes] ([Id], [ProductId], [AttributeId], [Value]) VALUES (2, 3, 1, N'9')
INSERT [dbo].[ProductToAttributes] ([Id], [ProductId], [AttributeId], [Value]) VALUES (3, 3, 2, N'8')
SET IDENTITY_INSERT [dbo].[ProductToAttributes] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [EmailAddress], [Password], [MyAuthorization], [CreateDate], [LastLoginDate], [Deleted]) VALUES (1, N'erencancstan@gmail.com', N'test1', 16, CAST(N'2017-07-29 00:00:00.000' AS DateTime), NULL, 0)
INSERT [dbo].[Users] ([Id], [EmailAddress], [Password], [MyAuthorization], [CreateDate], [LastLoginDate], [Deleted]) VALUES (2, N'erencancustan@hotmail.com', N'asd1', 0, CAST(N'2017-08-01 00:00:00.000' AS DateTime), NULL, 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
INSERT [dbo].[UserTOAddress] ([UserId], [AddressId]) VALUES (1, 1)
INSERT [dbo].[UserTOAddress] ([UserId], [AddressId]) VALUES (2, 2)
/****** Object:  Index [IX_AttributeGroupId]    Script Date: 1.8.2017 12:51:43 ******/
CREATE NONCLUSTERED INDEX [IX_AttributeGroupId] ON [dbo].[Attributes]
(
	[AttributeGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ParentId]    Script Date: 1.8.2017 12:51:43 ******/
CREATE NONCLUSTERED INDEX [IX_ParentId] ON [dbo].[Categories]
(
	[ParentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Id]    Script Date: 1.8.2017 12:51:43 ******/
CREATE NONCLUSTERED INDEX [IX_Id] ON [dbo].[Customers]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductId]    Script Date: 1.8.2017 12:51:43 ******/
CREATE NONCLUSTERED INDEX [IX_ProductId] ON [dbo].[Images]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderId]    Script Date: 1.8.2017 12:51:43 ******/
CREATE NONCLUSTERED INDEX [IX_OrderId] ON [dbo].[OrderDetails]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductId]    Script Date: 1.8.2017 12:51:43 ******/
CREATE NONCLUSTERED INDEX [IX_ProductId] ON [dbo].[OrderDetails]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AddressId]    Script Date: 1.8.2017 12:51:43 ******/
CREATE NONCLUSTERED INDEX [IX_AddressId] ON [dbo].[Orders]
(
	[AddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 1.8.2017 12:51:43 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Orders]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategoryId]    Script Date: 1.8.2017 12:51:43 ******/
CREATE NONCLUSTERED INDEX [IX_CategoryId] ON [dbo].[Products]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AttributeId]    Script Date: 1.8.2017 12:51:43 ******/
CREATE NONCLUSTERED INDEX [IX_AttributeId] ON [dbo].[ProductToAttributes]
(
	[AttributeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductId]    Script Date: 1.8.2017 12:51:43 ******/
CREATE NONCLUSTERED INDEX [IX_ProductId] ON [dbo].[ProductToAttributes]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AddressId]    Script Date: 1.8.2017 12:51:43 ******/
CREATE NONCLUSTERED INDEX [IX_AddressId] ON [dbo].[UserTOAddress]
(
	[AddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 1.8.2017 12:51:43 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[UserTOAddress]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Attributes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Attributes_dbo.AttributeGroups_AttributeGroupId] FOREIGN KEY([AttributeGroupId])
REFERENCES [dbo].[AttributeGroups] ([Id])
GO
ALTER TABLE [dbo].[Attributes] CHECK CONSTRAINT [FK_dbo.Attributes_dbo.AttributeGroups_AttributeGroupId]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Categories_dbo.Categories_ParentId] FOREIGN KEY([ParentId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_dbo.Categories_dbo.Categories_ParentId]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Customers_dbo.Users_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_dbo.Customers_dbo.Users_Id]
GO
ALTER TABLE [dbo].[Images]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Images_dbo.Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[Images] CHECK CONSTRAINT [FK_dbo.Images_dbo.Products_ProductId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetails_dbo.Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_dbo.OrderDetails_dbo.Orders_OrderId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetails_dbo.Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_dbo.OrderDetails_dbo.Products_ProductId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.Addresses_AddressId] FOREIGN KEY([AddressId])
REFERENCES [dbo].[Addresses] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.Addresses_AddressId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.Customers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Customers] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.Customers_UserId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Categories_CategoryId]
GO
ALTER TABLE [dbo].[ProductToAttributes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductToAttributes_dbo.Attributes_AttributeId] FOREIGN KEY([AttributeId])
REFERENCES [dbo].[Attributes] ([Id])
GO
ALTER TABLE [dbo].[ProductToAttributes] CHECK CONSTRAINT [FK_dbo.ProductToAttributes_dbo.Attributes_AttributeId]
GO
ALTER TABLE [dbo].[ProductToAttributes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductToAttributes_dbo.Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[ProductToAttributes] CHECK CONSTRAINT [FK_dbo.ProductToAttributes_dbo.Products_ProductId]
GO
ALTER TABLE [dbo].[UserTOAddress]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserTOAddress_dbo.Addresses_AddressId] FOREIGN KEY([AddressId])
REFERENCES [dbo].[Addresses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserTOAddress] CHECK CONSTRAINT [FK_dbo.UserTOAddress_dbo.Addresses_AddressId]
GO
ALTER TABLE [dbo].[UserTOAddress]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserTOAddress_dbo.Customers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Customers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserTOAddress] CHECK CONSTRAINT [FK_dbo.UserTOAddress_dbo.Customers_UserId]
GO
USE [master]
GO
