<h1 class="page-header">@ViewBag.Title</h1>

@if (TempData["ResultMessage"] != null)
{<div class="alert alert-success">
        @TempData["ResultMessage"]
    </div>
}
else if (TempData["ResultFaileMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ResultFaileMessage"]
    </div>
}
